##### TESTING ENV FILE #####
TEST_CONTAINER_ID=

# Gremlin API endpoint information.
GREMLIN_PLUGIN_ENDPOINT=
GREMLIN_PLUGIN_PORT=443
GREMLIN_PLUGIN_ROOT_PATH=/gremlin
GREMLIN_PLUGIN_USER=
GREMLIN_PLUGIN_KEY=

SKIP_GREMLIN_TESTS=true
SKIP_DATA_SOURCE_TESTS=false

# only set to true if you expect the gremlin api _response_ to be in graphson v1
# for tests it is recommended you leave this variable alone so that you can test
# in isolation against the gremlin docker container
GREMLIN_PLUGIN_GRAPHSON_V1=true

CORE_DB_CONNECTION_STRING=

# debug,info,warn,error
LOG_LEVEL=debug

# controls how often a data source processes incoming data in milliseconds
DATA_SOURCE_PROCESSING_INTERVAL=1000
DATA_SOURCE_PROCESSING_BATCH_SIZE=1000
