.env
.idea
.fleet
.DS_Store
.husky
dist
settings.json
combined.log
exceptions.log
node_modules
profile-logs
.vscode/
/src/access_management/authentication/saml/*.crt
/src/access_management/authentication/saml/*.key
.nyc_output
/src/privateKey.key
/src/http_server/authentication/saml/localhost.cert
/src/http_server/authentication/saml/localhost.xml
/tools/ontology_extractor/diamond.owl
**/private-key.pem
/private-key.key
**/public-key.pem
/server/src/tests/test-data.json
/server/src/tests/test-data.csv
/server/src/tests/*.csv
/server/src/tests/private-key.pem
/server/src/tests/public-key.pem
/server/src/tests/*_export.json
/server/src/tests/mochawesome-report
/server/src/tests/coverage
/**/test-timeseries-datasource-graphql.json
/NodeLibraries/dl-fast-load/target/
/NodeLibraries/dl-fast-load/index.node
/RedisLoader/target/
/RedisLoader/RedisLoader.iml
*/AdminWebApp/src/**/*.js
*/AdminWebApp/src/**/*.js.map
/NodeLibraries/dl-fast-load/build-output.txt
/NodeLibraries/deeplynx-timeseries/
/NodeLibraries/redis-graph-loader/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/public-key.pem
/yarn-error.log
/.yarn/
/server/public-key.pem
/server/private-key.pem
/server/.yarn/
/CAINLROOT.cer
# ignore artifacts of rust modules both pre- and post- switch-
# this will make branch switching easier for existing branches
# during the transition period
/server/NodeLibraries/deeplynx/Cargo.lock
/server/NodeLibraries/deeplynx/target
/server/NodeLibraries/deeplynx/*.node

**/NodeLibraries/deeplynx/Cargo.lock
**/NodeLibraries/deeplynx/target
**/NodeLibraries/deeplynx/*.node