.env
.idea
.DS_Store
.husky
dist
settings.json
combined.log
exceptions.log
node_modules
.vscode/
/src/access_management/authentication/saml/*.crt
/src/access_management/authentication/saml/*.key
.nyc_output
/src/privateKey.key
/src/access_management/authentication/saml/localhost.cert
/src/access_management/authentication/saml/localhost.xml
/tools/ontology_extractor/diamond.owl
/private-key.pem
/private-key.key
