<h1>FORGOT PASSWORD</h1>

<form action="/forgot-password" method="post">

    <div class="container">
        <label for="username"><b>Email</b></label>
        <input type="text" placeholder="Enter Username" name="email" required>
        <input type="hidden" name="_csrf" value="{{{_csrfToken}}}" />
    </div>
</form>
