$primary: #2BA8E0;
$success: #8DC340;
$secondary: #07519E;
$warning: #F68C20;
$error: #CF1E4C;
$text: #333333;
$lightgray: #DCDDDE;
$lightgray2: #dadada;
$darkgray: #AFAFAF;
$darkgray2: #888888;

$body-font-family: 'Montserrat', sans-serif;
$heading-font-family: 'Montserrat', sans-serif;
$headings: (
  h1: ( size: 1.25rem, weight: 500, line-height: 1, letter-spacing: normal, font-family: $heading-font-family ),
  h2: ( size: 1.5rem, weight: 500, line-height: 1.35, letter-spacing: normal, font-family: $heading-font-family ),
  h3: ( size: 1.15rem, weight: 500, line-height: 48px, letter-spacing: normal, font-family: $heading-font-family ),
  h4: ( size: 1rem, weight: 500, line-height: 40px, letter-spacing: .025rem, font-family: $heading-font-family ),
  h5: ( size: .875rem, weight: 500, line-height: 32px, letter-spacing: normal, font-family: $heading-font-family ),
  h6: ( size: .75rem, weight: 500, line-height: 1, letter-spacing: normal, font-family: $heading-font-family ),
  subheading: ( size: 1rem, weight: 400 ),
  body-2: ( size: .875rem, letter-spacing: normal, weight: 500 ),
  body-1: ( size: .875rem,letter-spacing: normal, weight: 400 ),
  caption: ( size: .75rem, weight: 400 ),
  button: ( size: .875rem, weight: 500 )
)