:root {
  --color-primary: #2BA8E0;
  --color-secondary: #07519E;
  --color-success: rgba(#8DC340, 1);
  --color-success-background: rgba(#8DC340, 0.25);
  --color-warning: rgba(#F68C20, 1);
  --color-warning-background: rgba(#F68C20, 0.25);
  --color-error: rgba(#CF1E4C, 1);
  --color-error-background: rgba(#CF1E4C, 0.25);
  --color-blue: rgba(33, 150, 243, 1);
  --color-lightgray: #DCDDDE;
  --color-lightgray2: #dadada;
  --color-lightgray3: #c4c4c4;
  --color-darkgray: #AFAFAF;
  --color-darkgray2: #888888;
}
