<div id='dialog' class='card d-flex flex-column shadow'>
    <div class='row no-gutters flex-fill fill d-flex'>
        <div class='col-md-5'>
            <div id='color-background' class='pa-0 container h-100 d-flex'>
                <div class='align-self-center justify-content-center mx-auto my-5'>
                    <img src='/img/lynx-white.png' class='card-img img-fluid' alt='DeepLynx Logo' style="max-height:250; max-width:250" />
                </div>
            </div>
        </div>
        {{#unless token}}
            <div class='col-md-7'>
                <div class='card-body'>
                    <h2 class='text-center my-4'>Forgot Password?</h2>
                    <form class='mb-3' action='/reset-password' method='post'>
                        <input type='hidden' name='_csrf' value='{{{_csrfToken}}}' />
                        <div class='mb-5'>
                            <p class='text-center'>Please enter a new password below.</p>
                            <div class='form-group'>
                                <label for='email'>Email address</label>
                                <input type='email' class='form-control' id='email' name='email' placeholder='name@example.com' />
                            </div>
                        </div>
                        <div class='w-100 px-4'>
                            <button type='submit' class='btn btn-lg btn-custom mb-2 btn-block'>Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        {{/unless}}
        {{#if token}}
            <div class='col-md-7'>
                <div class='card-body'>
                    <h2 class='text-center my-4'>Reset Password</h2>
                    <form
                        class='mb-3'
                        action='/reset-password/reset'
                        method='post'
                        oninput='confirmpassword.setCustomValidity(confirmpassword.value != new_password.value ? "Passwords do not match." : "")'
                    >
                        <input type='hidden' name='_csrf' value='{{{_csrfToken}}}' />
                        <input type='hidden' name='token' value='{{{token}}}' />
                        <input type='hidden' name='email' value='{{{email}}}' />
                        <div class='mb-5'>
                            <p class='text-center'>Please enter your new password below.</p>
                            <div class='form-group'>
                                <label for='password'>Password</label>
                                <input type='password' class='form-control' id='new_password' name='new_password' required />
                            </div>
                            <div class='form-group'>
                                <label for='confirmpassword'>Confirm Password</label>
                                <input type='password' class='form-control' id='confirmpassword' required />
                            </div>
                        </div>
                        <div class='w-100 px-4'>
                            <button type='submit' class='btn btn-lg btn-custom mb-2 btn-block'>Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        {{/if}}
    </div>
</div>