@use './variables.scss';

:root {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow: overlay;
}


.material-symbols-rounded {
  color: #fff;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

Button {
  text-transform: capitalize !important;
}

.main-container-sizing {
  height: calc(100vh - 64px);
  width: calc(100vw);
  overflow: hidden;
  transition: all 400ms;

  div {
    height: calc(100vh - 64px);
  }

  &.main-container-sizing-with-list-drawer {
    width: calc(100vw - 430px);
    transition: all 400ms;
  }

  &.main-container-sizing-with-info-drawer {
    width: calc(100vw - 800px);
    transition: all 400ms;
  }
}

.webgl-canvas {
  width: 100% !important;
  height: 100% !important;
  transition: all 400ms;
}
