:root {
  --color-primary: #005981;
  --color-secondary: #338CB4;
  --color-success: rgba(78, 191, 148, 1);
  --color-success-background: rgba(78, 191, 148, 0.25);
  --color-problem: rgba(255, 255, 0, 1);
  --color-problem-background: rgba(255, 255, 0, 0.25);
  --color-error: rgba(255, 82, 82, 1);
  --color-error-background: rgba(255, 82, 82, 0.25);
  --color-blue: rgba(33, 150, 243, 1);
  --color-gray-darkest: rgb(18, 18, 18, 1);
  --color-gray-darker: rgba(30, 30, 30, 1);
  --color-gray-dark: rgba(255, 82, 82, 0.25);
}
